rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow create, read, update: if request.auth.uid != null && request.auth.uid == userId;
      
      match /feeds/{feedId} {
        allow create, read, update, delete: if request.auth.uid == userId;
      }

      match /naps/{napId} {
        allow create, read, update, delete: if request.auth.uid == userId;
      }

      match /pees/{peeId} {
        allow create, read, update, delete: if request.auth.uid == userId;
      }

      match /poops/{poopId} {
        allow create, read, update, delete: if request.auth.uid == userId;
      }
    }
  }
}